version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "all"
  - package-ecosystem: "npm"
    directory: "/apps/meeting"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/apps/transcripts"
    schedule:
      interval: "daily"
